<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .errorlist{color: red}
    </style>
</head>
<body>
    <h1 class="dis-play='4'"> เปลี่ยนรหัสผ่าน </h1>
    {% if error %}
        {{ error }}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}

        <label for="">รหัสผ่านเก่า : </label>
        {{ form.old_password }}<br><br>
        <label for="">รหัสผ่านใหม่ : </label>
         {{ form.new_password }}<br><br>

        <label for="">ยืนยันรหัสผ่าน : </label>
         {{ form.renew_password }}<br><br>
        {{ form.renew_password.errors }}
        <input type="submit" value="save">
    </form>
</body>
</html>